#principal {
	/*padding-right: 1em;
  	padding-left: 2em;*/
	  background-color: #C0C3C9;
	
	  
}

/*Color bar*/
#bar {
	margin-top: 0px;
	margin-left: 10px;
}

/*Time filter*/
#slider {
	margin-top: 70px;
	
}


/*
body {
	font: 11px sans-serif;
	background-color: #ffffff;
}
.legend {
	position:flex;
	left:20px;
	top:30px;
}

.axis text {
	font: 10px sans-serif;
}

.axis line, .axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
*/


/*Time filter*/

.slider {
	font-family:"avenir next", Arial, sans-serif;
	font-size: 12px;
	color: #696969;
	
  }

  .tickss {
	font-size: 10px;
  }

  .track,
  .track-inset,
  .track-overlay {
	stroke-linecap: round;
  }

  .track {
	stroke: #000;
	stroke-opacity: 0.3;
	stroke-width: 10px;
  }

  .track-inset {
	stroke: #ddd;
	stroke-width: 8px;
  }

  .track-overlay {
	pointer-events: stroke;
	stroke-width: 50px;
	stroke: transparent;
	cursor: crosshair;
  }

  .handle {
	fill: #fff;
	stroke: #000;
	stroke-opacity: 0.5;
	stroke-width: 1.25px;
  }


  /**//*extra sliders*//**/

  .controls {
	flex-basis: 2000px;
	padding: 0 5px;
  }
  .controls .force {
	background-color:#eee;
	border-radius: 3px;
	padding: 5px;
	margin: 5px 0;
  }
  
  .controls .force p label { margin-right: .5em; font-size: 120%; font-weight: bold;}
